Julien Pivotto <roidelapluie@inuits.eu> <root@astatine.roidelapluie.be>
Morgane Glidic <sardemff7@exherbo.org> <sardemff7+git@sardemff7.net>
Morgane Glidic <sardemff7@exherbo.org> <sardemff7.pub@gmail.com>
